In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/home/ustudent/Desktop/hepatitis_csv.csv')
df.tail()

,age,sex,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,protime,histology,class
150,46,female,True,False,True,True,True,True,False,False,True,True,True,7.6,NaN,242.0,3.3,50.0,True,die
151,44,female,True,False,True,False,False,True,True,False,False,False,False,0.9,126.0,142.0,4.3,NaN,True,live
152,61,female,False,False,True,True,False,False,True,False,True,False,False,0.8,75.0,20.0,4.1,NaN,True,live
153,53,male,False,False,True,False,False,True,False,True,True,False,True,1.5,81.0,19.0,4.1,48.0,True,live
154,43,female,True,False,True,False,False,True,False,True,True,True,False,1.2,100.0,19.0,3.1,42.0,True,die

In [3]:
df.shape

(155, 20)

In [4]:
threshold=0.4
df=df[df.columns[df.isnull().mean()<threshold]]

In [5]:
df.shape
#protime column dropped

(155, 19)

In [6]:
df.columns

Index(['age', 'sex', 'steroid', 'antivirals', 'fatigue', 'malaise', 'anorexia',
       'liver_big', 'liver_firm', 'spleen_palpable', 'spiders', 'ascites',
       'varices', 'bilirubin', 'alk_phosphate', 'sgot', 'albumin', 'histology',
       'class'],
      dtype='object')

In [7]:
df=df.loc[df.isnull().mean(axis=1) < threshold]
df.shape

(154, 19)

In [8]:
df=pd.get_dummies(df, columns=['sex'])
df.columns

Index(['age', 'steroid', 'antivirals', 'fatigue', 'malaise', 'anorexia',
       'liver_big', 'liver_firm', 'spleen_palpable', 'spiders', 'ascites',
       'varices', 'bilirubin', 'alk_phosphate', 'sgot', 'albumin', 'histology',
       'class', 'sex_female', 'sex_male'],
      dtype='object')

In [9]:
df.shape

(154, 20)

In [10]:
df[['sex_male','sex_female']][:5]

   sex_male  sex_female
0      True       False
1     False        True
2     False        True
3     False        True
4     False        True

In [11]:
df.isnull().sum()

age                 0
steroid             1
antivirals          0
fatigue             0
malaise             0
anorexia            0
liver_big           9
liver_firm         10
spleen_palpable     4
spiders             4
ascites             4
varices             4
bilirubin           5
alk_phosphate      28
sgot                3
albumin            15
histology           0
class               0
sex_female          0
sex_male            0
dtype: int64

In [12]:
#replace numerical missing values with median
df['alk_phosphate']=df['alk_phosphate'].fillna(df['alk_phosphate'].median())
df['albumin']=df['albumin'].fillna(df['albumin'].median())
df['bilirubin']=df['bilirubin'].fillna(df['bilirubin'].median())
df['sgot']=df['sgot'].fillna(df['sgot'].median())
df.isnull().sum()

age                 0
steroid             1
antivirals          0
fatigue             0
malaise             0
anorexia            0
liver_big           9
liver_firm         10
spleen_palpable     4
spiders             4
ascites             4
varices             4
bilirubin           0
alk_phosphate       0
sgot                0
albumin             0
histology           0
class               0
sex_female          0
sex_male            0
dtype: int64

In [13]:
#Replace other missing values with mode of corresponding column
df=df.fillna(df.mode().iloc[0])
df.isnull().sum()

age                0
steroid            0
antivirals         0
fatigue            0
malaise            0
anorexia           0
liver_big          0
liver_firm         0
spleen_palpable    0
spiders            0
ascites            0
varices            0
bilirubin          0
alk_phosphate      0
sgot               0
albumin            0
histology          0
class              0
sex_female         0
sex_male           0
dtype: int64

In [14]:
mapping={'live':1,'die':0}
df['class']=df['class'].map(mapping)
df.head(5)

,age,steroid,antivirals,fatigue,malaise,anorexia,liver_big,liver_firm,spleen_palpable,spiders,ascites,varices,bilirubin,alk_phosphate,sgot,albumin,histology,class,sex_female,sex_male
0,30,False,False,False,False,False,False,False,False,False,False,False,1.0,85.0,18.0,4.0,False,1,False,True
1,50,False,False,True,False,False,False,False,False,False,False,False,0.9,135.0,42.0,3.5,False,1,True,False
2,78,True,False,True,False,False,True,False,False,False,False,False,0.7,96.0,32.0,4.0,False,1,True,False
3,31,True,True,False,False,False,True,False,False,False,False,False,0.7,46.0,52.0,4.0,False,1,True,False
4,34,True,False,False,False,False,True,False,False,False,False,False,1.0,85.0,200.0,4.0,False,1,True,False

In [15]:
df_numpy=df.to_numpy()

In [16]:
from sklearn.model_selection import train_test_split
X=df.drop('class', axis=1)
y=df['class']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=1)

In [17]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(123, 19)
(31, 19)
(123,)
(31,)